/* skills design  */
.skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}
.heading{
    color: var(--color-primary);
    margin-bottom: 4rem;
}
.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skills-row .skills-column{
    flex: 1 1 40rem;
}
.skills-column .title{
    font-size: 2rem;
    margin: 0 0 1.5rem;
}
.skills-box .skills-content{
    position: relative;
    border: 3px solid var(--color-secondary);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:rgba(204, 19, 60, 0.2);
    z-index: -1;
    transition: .5s;
}
.skills-box .skills-content:hover:before{
    width: 100%;
}
.skills-content .progress{
    padding: 1rem 0;
}
.skills-content .progress h3{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.skills-content .progress h3 span{
    color: var(--color-gray-900);
}
.skills-content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--color-secondary);
    padding: .5rem;
    margin: 1rem 0;
}
.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--color-secondary);
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 65%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span{
    width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span{
    width: 85%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(7) .bar span{
    width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(8) .bar span{
    width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(9) .bar span{
    width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(10) .bar span{
    width: 85%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(11) .bar span{
    width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(12) .bar span{
    width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(13) .bar span{
    width: 60%;
}
 /* second */
.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 95%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 45%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 60%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span{
    width: 90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(6) .bar span{
    width: 90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(7) .bar span{
    width: 80%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(8) .bar span{
    width: 85%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(9) .bar span{
    width: 90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(10) .bar span{
    width: 80%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(11) .bar span{
    width: 90%;
}



@media screen and (max-width:600px) {
    .skills-column .title{
        font-size: 1.5rem;
    }
    .skills-box .skills-content{
        padding: .5rem 1rem;
    }
    .skills-content .progress{
        padding: 0.7rem 0;
    }
    .skills-content .progress h3{
        font-size: 1.2rem;
    }
    .skills-content .progress .bar{
        height: 2rem;
        border-radius: .6rem;
        border: .2rem solid var(--color-secondary);
        padding: .4rem;
    }
    
}


