.servicesWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}
.service{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 2rem;
    flex: 1; 
}
.icon{
    color: var(--color-primary);
    font-size: 1.1rem;
    display: grid;
    place-items: center;
}

@media screen and (max-width:600px){
    .servicesWrapper{
        flex-direction: column;
        gap: 1rem;
    }
    .service{
        width: 100%;
    }
}